bin/Debug/net5.0/dotnetRegex.deps.json
bin/Debug/net5.0/dotnetRegex.dll
bin/Debug/net5.0/dotnetRegex.pdb
bin/Debug/net5.0/dotnetRegex.runtimeconfig.dev.json
bin/Debug/net5.0/dotnetRegex.runtimeconfig.json
bin/Debug/net5.0/ref/dotnetRegex.dll
obj/dotnetRegex.csproj.nuget.dgspec.json
obj/dotnetRegex.csproj.nuget.g.props
obj/dotnetRegex.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/dotnetRegex.AssemblyInfo.cs
obj/Debug/net5.0/dotnetRegex.AssemblyInfoInputs.cache
obj/Debug/net5.0/dotnetRegex.assets.cache
obj/Debug/net5.0/dotnetRegex.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/dotnetRegex.csproj.FileListAbsolute.txt
obj/Debug/net5.0/dotnetRegex.csprojAssemblyReference.cache
obj/Debug/net5.0/dotnetRegex.dll
obj/Debug/net5.0/dotnetRegex.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/dotnetRegex.genruntimeconfig.cache
obj/Debug/net5.0/dotnetRegex.pdb
obj/Debug/net5.0/ref/dotnetRegex.dll
.vscode/launch.json
.vscode/tasks.json
workspace.code-workspace
